<!DOCTYPE html>
<html>
<%- partial('_partial/meta') %>

<body>
  <%- partial('_partial/header') %>
  <div id="main">
    <%- body %>
  </div>
  <%- partial('_partial/footer') %>
</body>
<%- partial('_partial/script') %>
</html>
